body {
  background-color: #1D1D1D;
  margin: 0 auto;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto Slab', serif;
}


.swiper-container {
    width: 600px;
    height: 300px;
}


.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../images/bg3.jpg');
  background-size: cover;
  background-position: right bottom;
  padding: 10%;
  height: 40vh;
}

.banner h1 {
margin: 0;
color: white;
text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
font-size: 32px;
font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.work {
  margin: 0 auto;
}



@media (max-width: 600px) {
  /* For a screen < 400px, this CSS will be read */

}
